<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Chuer Pan
              </h1>
              <p>Hey there! I am a second-year PhD student at Stanford University working in robotics, advised by Prof. <a href="https://shurans.github.io/">Shuran Song</a>. I am a member of <a href="https://real.stanford.edu/">Robotics and Embodied AI Lab @ Stanford</a>. 
                 
              <!--Previously, I was fortunate to be advised by <a href="https://davheld.github.io/">David Held</a> as a Master student at CMU Robotics Institute. -->
              <!-- Research Assistant at the <a href="https://www.ri.cmu.edu/ri-people/chuer-pan/">Robotics Institute</a>, Carnegie Mellon University, 
              where I work as a member of the <a href="https://r-pad.github.io/">Robots Perceiving and Doing Lab</a> with <a href="https://davheld.github.io/">David Held</a>. -->
              </p>

              <p>
                🌊 This summer, I am interning at <a href="https://bostondynamics.com/atlas/">Boston Dynamics</a>, working on perception for manipulation for Atlas!
              <p>
                <!--I am interested in developing robotic systems to perform dynamic, complex manipulation tasks by learning to extract task-relevant semantic visual cues efficiently from limited demonstrations. -->
                <!-- Currently, I work on developing learning-based self-supervised systems to robustly perform high-precision manipulation tasks, such as hanging mugs on mug racks, via imbuing desirable properties into object pose representation for multi-object manipulation tasks. -->
              <!-- <p>
                Previously, I worked with <a href="https://davheld.github.io/">David Held</a> at the CMU Robotics Institute on object-centric 3D representations for precise 6D spatial reasoning from multi-view RGBD task observation. There, I defended my <a href="https://www.ri.cmu.edu/education/academic-programs/master-of-science-robotics/">MS in Robotics</a>.
                Combined with motion planning, this enabled high-precision manipulation from few RGBD capture of scene defning task sucess as demonstraion, with generalization across object categories.  -->
                <!--Before that, I obtained my BASc from <a href="https://engsci.utoronto.ca/program/what-is-engsci/">Engineering Science</a> at the University of Toronto, majoring in Robotics. 
                There, I worked on NLP with <a href="http://www.cs.toronto.edu/~frank/">Frank Rudzicz</a> at <a href="https://vectorinstitute.ai/">Vector Institute</a>. 
                During my early exposure to research, I worked with <a href="https://sites.chem.utoronto.ca/chemistry/staff/EK/about.html">Eugenia Kumacheva</a> on microfabrication and microfluidics to fabricate human cerebal microvascular system with PDMS.
              </p>
              <p>
                During undergrad, I also worked on FPGA software dev at <a href="https://www.altera.com/">Altera</a> (then acquired by Intel), motion planning & control with lattice graph for AV at <a href="https://www.autodrive.utoronto.ca/">aUToronto</a>. I co-founded <a href="https://linktr.ee/utmist">UTMIST</a>, and was part of <a href="https://wise.skule.ca/">WISE</a>.
              </p> -->

              <details>
                <summary style="cursor: pointer; font-weight: bold;">More about my background</summary>
                <p>
                  Previously, I worked with <a href="https://davheld.github.io/">David Held</a> at the CMU Robotics Institute on object-centric 3D representations for precise 6D spatial reasoning from multi-view RGBD task observation. There, I defended my <a href="https://www.ri.cmu.edu/education/academic-programs/master-of-science-robotics/">MS in Robotics</a>.
                  Before that, I obtained my BASc from <a href="https://engsci.utoronto.ca/program/what-is-engsci/">Engineering Science</a> at the University of Toronto, majoring in Robotics. 
                  There, I worked on NLP with <a href="http://www.cs.toronto.edu/~frank/">Frank Rudzicz</a> at <a href="https://vectorinstitute.ai/">Vector Institute</a>. 
                  During my early exposure to research, I worked with <a href="https://sites.chem.utoronto.ca/chemistry/staff/EK/about.html">Eugenia Kumacheva</a> on microfabrication and microfluidics to fabricate human cerebral microvascular systems with PDMS.
                </p>
                <p>
                  During undergrad, I also worked on FPGA software development at <a href="https://www.altera.com/">Altera</a> (then acquired by Intel), motion planning & control with lattice graphs for AV at <a href="https://www.autodrive.utoronto.ca/">aUToronto</a>. I co-founded <a href="https://linktr.ee/utmist">UTMIST</a>, and was part of <a href="https://wise.skule.ca/">WISE</a>.
                </p>
                </details>

              <p style="text-align:center">
                Email: chuerpan at stanford dot edu
              </p>
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=HBMZ02EAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/chuer_pan">Twitter</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/chuer-pan-a2ab0475/">LinkedIn</a>
                <!-- <a href="https://www.linkedin.com/in/chuer-pan-a2ab0475/">LinkedIn </a> &nbsp;/&nbsp; -->
                <!-- <a href="https://github.com/mimichu">GitHub</a> &nbsp;/&nbsp;
                <a href="/files/Chuer_Pan_Resume.pdf">CV</a> -->
                
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
              I develop robotic systems that learn high-precision, contact-rich manipulation from human demonstrations and generalize to novel visual and behavioral settings with minimal adaptation. My research combines 3D scene representations and motion planning with imitation learning for efficient skill transfer from few examples.
                <!-- I'm interested in robotics, machine learning and computer vision. -->
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:50%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em style="color: #ff8080;">{{post.venue}}, {{ post.date | date: "%Y" }} </em>
              <br>
              {% if post.award %}
              <br>
                <em href="{{post.award_link}}" style="color: #f99d51;">{{post.award}}</em>
              <br>
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
   
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

